{% extends "base2.html" %}

{% block title %}Reservas{% endblock %}

{% block content %}

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Reserva {{reserva.codigo}}</h1>
        <p><b>Sala:</b> {{reserva.sala}}</p>
        <p><b>Início:</b> {{reserva.inicio}}</p>
        <p><b>Fim:</b> {{reserva.fim}}</p>
        <p>Reservado para {{reserva.usuario}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <h3>Gerar Comprovante</h3>
        <p>Gere o pdf do comprovante de reserva.</p>
        <a href="" class="btn btn-dark">Gerar Comprovante</a>
      </div>
      <div class="col-md-6 mb-4">
        <h3>Cancelar Reserva</h3>
        <p>Você pode cancelar a reserva até 12 horas antes do início da reserva.</p>
        <form action="">
          <button class="btn btn-dark">Cancelar Reserva</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

